.auth-card {
  max-width: 50%;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.application-header {
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
  background: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  top: 0%;
  overflow: hidden;
  position: sticky;
  z-index: 1;
}

.nav-logo {
  max-width: 12rem;
}

.card-body h5 {
  margin-bottom: 1rem;
}

.showAlert {
  max-width: 40%;
  margin: auto;
}

.rw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  /* border: 1px solid blue; */
}

.search-txt {
  /* border: 1px solid red; */
  text-align: center;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.result-block {
  /* border: 1px solid yellowgreen; */
  text-align: center;
}

.res-row {
  justify-content: center;
}

.card-res {
  max-width: 100%;
  margin: auto;
  margin: 2rem 0;
  border: none;
  border-radius: 10px;
  padding: 1rem 2rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.search-res-btn {
  margin-left: 1rem;
}

.logout-div ul {
  display: flex;
  margin: 0 !important;
  padding: 0 0;
  list-style: none;
}

.link {
  list-style: none;
  text-align: end;
}

@media screen and (max-width: 900px) {
  .nav-logo {
    padding-top: 0.3rem;
    max-width: 11rem;
  }
  .auth-card {
    max-width: 70%;
    padding: 0.5rem 1rem;
  }

  .showAlert {
    max-width: 70%;
  }
}

@media screen and (max-width: 660px) {
  .nav-logo {
    padding-top: 0.3rem;
    max-width: 10rem;
  }
  .auth-card {
    max-width: 85%;
    padding: 0.5rem 1rem;
  }

  .showAlert {
    max-width: 85%;
  }

  .search-div {
    flex-direction: column;
  }

  .search-div button {
    margin-top: 1rem;
  }
}
