.card {
  max-width: 40%;
  margin: auto;
  margin-top: 3rem;
  border: none !important;
  border-radius: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.application-header {
  display: flex;
  justify-content: center;
  background: white;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.3);
  position: static;
  top: 0%;
  overflow: hidden;
  position: sticky;
  z-index: 1;
}

.nav-logo {
  max-width: 12rem;
}

.card-body h5 {
  margin-bottom: 1rem;
}

.showAlert {
  max-width: 40%;
  margin: auto;
}

.rw {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  /* border: 1px solid blue; */
}

.search-txt {
  /* border: 1px solid red; */
  text-align: center;
}

.search-div {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
}

.result-block {
  /* border: 1px solid yellowgreen; */
  text-align: center;
}

.res-row {
  justify-content: center;
}

.card-res {
  max-width: 100%;
}

.search-res-btn {
  margin-left: 1rem;
}

@media screen and (max-width: 768px) {
  .card {
    max-width: 60%;
  }

  .showAlert {
    max-width: 60%;
  }
}

@media screen and (max-width: 640px) {
  .card {
    max-width: 80%;
  }

  .showAlert {
    max-width: 80%;
  }

  .search-div {
    flex-direction: column;
  }

  .search-div button {
    margin-top: 1rem;
  }
}
